*.sqlite3
venv/
venv/*
config.json
.DS_Store
.idea/
*.pyc
db.sqlite3
config.*
*.key
*.bak
*.cls
*.xlsx
*.csv
*.pyc
migrations/
*test.py
mpb_django/settings.py


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
