ansible==7.4.0
ansible-core==2.14.4
asgiref==3.7.2
cffi==1.15.1
cryptography==40.0.1
distlib==0.3.6
Django==4.2.2
filelock==3.10.4
Jinja2==3.1.2
MarkupSafe==2.1.2

packaging==23.0
pkgconfig==1.5.5
platformdirs==3.1.1
pycparser==2.21

PyYAML==6.0
resolvelib==0.8.1
sqlparse==0.4.4
virtualenv==20.21.0
