
{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="/static/mpb_django/js/index.js"></script>
<script type="text/javascript" src="/static/mpb_django/js/report.js"></script>
<div class="w3-padding-large" id="main">

  <!-- Header/Home -->

    <h1><span class="w3-hide-small">Welcome to MPB Traders</span> </h1>
  <img src="https://media.tenor.com/aWcyWL5BsY0AAAAd/money-printer-go-brr-jerome-powell.gif"/>


  <!-- About Section -->
  <div class="w3-content w3-justify w3-padding-64 w3-center">
    <h1 class=""><b>Time Frames</b></h1>
    <div id="notifications">{% if timeframes|length > 0%}
      {% for timeframe in timeframes %}
      <div style="outline: 2px solid lightgray; id='notifications[]'"><h4 class="w3-center">test</h4>
<!--        {{notification.creation_date}}<br>{{notification.description|safe}}-->
      </div>
      <br><br>
      {% endfor %}
      {%else%}
      No Timeframes
      {%endif%}</div>



  </div>


  <!-- End About Section -->
  </div>

{% endblock content %}