
{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="/static/mpb_django/js/index.js"></script>
<script type="text/javascript" src="/static/mpb_django/js/report.js"></script>
<div class="w3-padding-large" id="main">

  <!-- Header/Home -->

    <h1><span class="w3-hide-small">Welcome to MPB Traders</span> </h1>
  <img src="https://media.tenor.com/aWcyWL5BsY0AAAAd/money-printer-go-brr-jerome-powell.gif"/>


  <!-- About Section -->
  <div class="w3-content w3-justify w3-padding-64 w3-center">
    <h2 class=""><b>Timespans</b></h2>
    <h5 class=""><b>View MPB alerting stocks by timespan</b></h5><br>
    <div id="notifications">{% if timeframes|length > 0%}
      {% for timeframe in timeframes %}
      <div id="timespan" class="" style="outline: 2px solid lightgray;"><a onclick="changeTheme(getTheme());" href="/{{ timeframe.timespan_multiplier }}/{{ timeframe.timespan }}/dashboard" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <h5 class="w3-center">{{ timeframe.timespan_multiplier }} {{ timeframe.timespan }}</h5>
      </a>
<!--        {{notification.creation_date}}<br>{{notification.description|safe}}-->
      </div>
      <br><br>
      {% endfor %}
      {%else%}
      No Timeframes
      {%endif%}</div>



  </div>


  <!-- End About Section -->
  </div>

{% endblock content %}