{% extends "base.html" %}
{% block content %}
<a class="w3-blue w3-round w3-hover-black w3-padding w3-left" href="/">back</a>
<script type="text/javascript" src="/static/mpb_django/js/functions.js"></script>
<script type="text/javascript" src="/static/config/connections.js"></script>
<div class="w3-row-padding w3-center" style="margin:0 -16px">


    <!--content goes here-->
    <h2>Available Connections</h2><br>
    <table style="width: 90%;margin:0 5%;"   class=" w3-center ">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Host</th>
            <th>Port</th>
            <th>Username</th>
            <th>Attributes</th>
            <th>Actions</th>

        </tr>
        {% for connection in connections %}
        <tr class="w3-padding-16  w3-center">

            <td>{{connection.name}}</td>
            <td>{{connection.type}}</td>
            <td>{{connection.host}}</td>
            <td>{{connection.port}}</td>
            <td>{{connection.credential.username}}</td>
            <td>{{connection.attributes}}</td>
            <td>
                <button class="w3-blue w3-round w3-hover-black" onclick="testConnection({{connection.id}})">Test Connection</button><br>
            </td>
        </tr>
{% endfor %}

    </table>

</div>
{% endblock content %}