{% extends "base.html" %}
{% block content %}
<button class="w3-left w3-hover-black w3-round"><a href="/alerts/health_checks/" back>Go Back</a></button>
<div class="w3-content w3-center w3-justify w3-padding-64" >
<h2>{{health_check.name}}</h2>
    <h5><b>Pass/Fail over the last {{days}} day(s)</b></h5>1 indicates passing check, -1 indicates failing check

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/mpb_django/js/Chart.min.js"></script>
<script type="text/javascript" src="/static/alerts/js/graph.js"></script>

<div>
    <input type="hidden" id="health_check_id" value="{{ health_check.id }}"/>
    <input type="hidden" id="days" value="{{days}}"/>
    <input type="hidden" id="xaxislabel" value="Timestamp"/>
    <input type="hidden" id="yaxislabel" value="Pass/Fail"/>

    <canvas id="myChart" width="600" height="400"></canvas>
</div><br>
Choose Date Range<br> <select onchange="window.location.href = '/alerts/health_checks/{{health_check.id}}/historical_graph/'+$('#_days').val()+'/'" class="w3-round w3-large" id="_days">
        <option disabled selected value> -- </option>
        <option value="1" >1 day</option>
        <option value="5" >5 days</option>
        <option value="7">1 week</option>
        <option value="14">2 weeks</option>
        <option value="21">3 weeks</option>
        <option value="30">1 month</option>
        <option value="90">3 months</option>
        <option value="180">6 months</option>
        <option value="365">1 year</option>
    </select>
  <script>


    </script>

<br>

</div>
{%endblock content%}